*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Outfit', sans-serif;
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(236, 232, 232);
    
}

.container{
   width: 80%;
   margin: auto;
   overflow: hidden;
   margin-top: 50px;
}

#main-image img{
    width: 35%;
    height: 500px;
    float: left;
    box-sizing: border-box;
    object-fit: cover;
    border-radius: 20px;
}

#main-sidebar{
    width: 55%;
    height: 500px;
    float: right;
    box-sizing: border-box;
    background-color: whitesmoke;
    border-radius: 20px;
}

#main-top{
    text-align: center;
    margin-top: 15px;
    
}

#main-top a{
    color:rgb(57, 46, 46);
    text-decoration: none;
    font-size: 35px;
    font-weight: bolder;

    
}

#main-top1{
    margin-top: 50px;
    padding: 30px;
    line-height: 2em;
}

#reset-form label{
    font-weight: bolder;
}

#reset-form input{
    padding: 15px;
    width: 100%;
    border: 1px solid rgb(197, 191, 191);
    border-radius: 10px;
    background-color: whitesmoke;
}

#reset-form button{
    margin-top: 20px;
    padding:19px;
    width: 100%;
    border: 1px solid rgb(57, 46, 46);
    border-radius: 10px;
    background-color: rgb(57, 46, 46);
    color: white;
    text-align:center;
    font-weight: bold;
    font-size: 17px;
    
}

#main-footer{
    display: flex;
    justify-content: space-around;
    
}



#main-footer a{
    font-weight: bolder;
    color:  rgb(57, 46, 46);
    
}

#support a{
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 30px;
    color:   rgb(57, 46, 46);
}
